<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>

      <li>
          <a href="{{ site.baseurl }}/pages/light.html" {% if page.url == "/pages/light.html" %}class = "active"{% endif %}>A light on object orientation</a>

          <ul>
              <li>
                  <a href="{{ site.baseurl }}/pages/light-oo-encapsulation.html" {% if page.url == "/pages/light-oo-encapsulation.html" %}class = "active"{% endif %}>Information hiding & Encapsulation</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}/pages/light-oo-memberfunctions.html" {% if page.url == "/pages/light-oo-memberfunctions.html" %}class = "active"{% endif %}>Member functions & attributes</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}/pages/light-es6.html" {% if page.url == "/pages/light-es6.html" %}class = "active"{% endif %}>Classes in the next version of Javascript</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}/pages/light-composition.html" {% if page.url == "/pages/light-composition.html" %}class = "active"{% endif %}>Object composition</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="{{ site.baseurl }}/pages/practical-oo-exercises.html" {% if page.url == "/pages/practical-oo-exercises.html" %}class = "active"{% endif %}>Practical Object Oriented exercises</a>
          <ul>
              <li>
                  <a href="{{ site.baseurl }}/pages/light-css.html" {% if page.url == "/pages/light-css.html" %}class = "active"{% endif %}>A light</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}/pages/light-nodebots.html" {% if page.url == "/pages/light-nodebots.html" %}class = "active"{% endif %}>A real light</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="{{ site.baseurl }}/pages/practical-examples.html" {% if page.url == "/pages/practical-examples.html" %}class = "active"{% endif %}>Practical examples</a>
          <ul>
              <li>
                  <a href="{{ site.baseurl }}/pages/taxi.html" {% if page.url == "/pages/taxi.html" %}class = "active"{% endif %}>Taxi kata</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}/pages/ferry.html" {% if page.url == "/pages/ferry.html" %}class = "active"{% endif %}>Ferry Kata</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="{{ site.baseurl }}/pages/apply-knowledge.html" {% if page.url == "/pages/apply-knowledge.html" %}class = "active"{% endif %}>Apply your knowledge</a>
      </li>
    </ul>
  </nav>
</footer>
